name: C# CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v6
    - uses: microsoft/setup-msbuild@v2
    - name: Generate binaries
      run: |
        dotnet restore NonogramAutomation.slnx /p:Configuration=${{ matrix.configuration }} /p:Platform="Any CPU"
        MSBuild.exe NonogramAutomation.csproj /p:Configuration=${{ matrix.configuration }}